services:
  php:
    build:
      context: .
      dockerfile: .ops/docker/php/Dockerfile-dev
    ports:
      - "9000:9000"
    volumes:
      - .:/var/www
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-app}:${POSTGRES_PASSWORD:-!ChangeMe!}@database:5432/${POSTGRES_DB:-app}
    depends_on:
      database:
        condition: service_healthy
    networks:
      - app-network
  nginx:
    build:
      context: .
      dockerfile: .ops/docker/nginx/Dockerfile
    ports:
      - ${HTTP_PORT:-80}:80
    volumes:
      - ./public:/var/www/public
    environment:
      PHP_HOST: php
    depends_on:
      - php
    networks:
      - app-network
  database:
    image: postgres:14-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_USER: ${POSTGRES_USER:-app}
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data:rw
    networks:
      - app-network

volumes:
  db-data:

networks:
  app-network: